.container{
    height: 75vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
.mango{
    float: left;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_items{
    text-align: center;
    margin: 0;
    background-color: #F8EDED;
}
.description{
    
    width: 200px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.inc, .dec{
    width: 45px;
    border-radius: 10px;
}